#logo{

}
body{
    background-color:#ebeff5;
}

#total-tabungan{
    background-color: #4cb4c7;
}

#total-pinjaman{
    background-color: #7abecc;
}

#tabungan{
    background-color: #7CD1C0;
}

#sisa-tabungan{
    background-color:#28FFBF;
}